@import '../mixin.scss';

.rec-course-list {
    width: 100vw;
    padding: 0 4vw;

    li {
        width: 100%;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 6px;
        overflow: hidden;
        padding: 10px;

        .title {
            font-size: 16px;
            color: #333333;
            letter-spacing: 1.25px;
            text-align: justify;
            line-height: 24px;

            span {
                top: -3px;
                position: relative;
                margin-right: 7px;
                display: inline-block;
                height: 18px;
                line-height: 18px;
                padding: 0 5px;
                background: #8DBCEB;
                border-radius: 4px;
                font-size: 11px;
                color: #FFFFFF;
            }
        }

        .stat {
            font-size: 12px;
            color: #B8B8B8;
            line-height: 20px;
            display: flex;
            padding-top: 4px;
            padding-bottom: 7px;
            @include border-btm(#EFEFEF, false);

            .left {
                flex: 0 0 160px;
                font-size: 12px;
                color: #B8B8B8;
            }

            .trainer {
                flex: 1;
                font-size: 12px;
                color: #B8B8B8;
                text-align: right;
                @include multi-line(1);
            }


        }

        .btm {
            width: 100%;
            height: 55px;
            padding: 10px 0;
            display: flex;

            .price {
                flex: 1;

                .num {
                    font-size: 12px;
                    color: #B8B8B8;
                }

                .price {
                    margin-top: 5px;
                    font-size: 12px;
                    color: #C54534;

                    span {
                        font-size: 17px;
                    }
                }
            }

            .btn {
                flex: 0 0 75px;
                margin-top: 15px;
                background: #00B9B9;
                border-radius: 13px;
                font-size: 13px;
                text-align: center;
                height: 27px;
                line-height: 27px;
                color: #FFFFFF;
                letter-spacing: 1.02px;
                box-shadow: 0 6px 7px rgba($color: #00B9B9, $alpha: .1);
            }
        }

    }
}