$primary-color: #3696d0;

$line-grey: #e5e5e5;

$min-width: 1200px;

$main-font-size:2vw;  //font-weight: 500;

$content-font-size:1.5vw;  //font-weight: 400;

$descr-font-size:1.3vw;  //font-weight: 400;

$line-hight:2.5vw