@import "color";
@import "mixin";

.analyst-rank-page {
    padding-top: 7px;


    .top-box {
        width: 92vw;
        height: 210px;
        margin-left: 4vw;
        margin-bottom: 8px;
        padding-top: 22px;
        border-radius: 6px;
        background: #fff;


        ul {
            display: flex;
            padding: 0 30px;
            margin-top: 35px;

            li {
                flex: 1;
                position: relative;

                .avatar {
                    position: relative;
                    left: 50%;
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    transform: translateX(-50%);

                    .icon {
                        position: absolute;
                        left: 50%;
                        top: -10px;
                        z-index: 2;
                        width: 17px;
                        height: 17px;
                        background-size: contain;
                        transform: translateX(-50%);
                    }

                    .inner {
                        width: 66px;
                        height: 66px;
                        border-radius: 50%;

                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                    }
                }

                .name {
                    width: 100%;
                    height: 21px;
                    text-align: center;

                    p {
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 21px;
                    }

                    i {
                        position: relative;
                        display: inline-block;
                        top: 5px;
                        width: 23px;
                        height: 21px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }


                &:nth-child(2) {
                    .icon {
                        background-image: url("../image/home/icon-rank-1.png");
                    }

                    .avatar {
                        border: 3px solid rgba($color: #BE1512, $alpha: .08);

                        .inner {
                            border: 3px solid rgba($color: #BE1512, $alpha: .2);
                        }
                    }

                    .name {
                        i {
                            background-image: url('../image/home/icon-rank-badge-1.png');
                        }
                    }
                }

                &:nth-child(1) {
                    .icon {
                        background-image: url("../image/home/icon-rank-2.png");
                    }

                    .avatar {
                        border: 3px solid rgba($color: #CFD7E9, $alpha: .08);

                        .inner {
                            border: 3px solid rgba($color: #CFD7E9, $alpha: .2);
                        }
                    }

                    .name {
                        i {
                            background-image: url('../image/home/icon-rank-badge-2.png');
                        }
                    }
                }

                &:nth-child(3) {
                    .icon {
                        background-image: url("../image/home/icon-rank-3.png");
                    }

                    .avatar {
                        border: 3px solid rgba($color: #F7AF48, $alpha: .08);

                        .inner {
                            border: 3px solid rgba($color: #F7AF48, $alpha: .2);
                        }
                    }

                    .name {
                        i {
                            background-image: url('../image/home/icon-rank-badge-3.png');
                        }
                    }
                }

                &:nth-child(odd) {
                    padding-top: 10px;
                    .avatar {
                        width: 62px;
                        height: 62px;

                        .inner {
                            width: 56px;
                            height: 56px;

                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }

            }
        }

    }
}