@import "color";
@import "variables";
@import "mixin";

.my-banner {
    .banner-WH {
        width: 92vw !important;
        height: 43.4vw !important;
    }

    .am-carousel {
        @extend .banner-WH;
        margin: 7px 4vw 0;

        .slider-frame {
            @extend .banner-WH;

            .slider-slide {
                @extend .banner-WH;

                img {
                    @extend .banner-WH;
                }
            }
        }

        .am-carousel-wrap {
            .am-carousel-wrap-dot {
                span {
                    width: 5px;
                    height: 5px;
                    background: rgba($color: #fff, $alpha: 0.5);
                }
            }

            .am-carousel-wrap-dot-active {
                span {
                    background: rgba($color: #fff, $alpha: 0.9);
                }
            }
        }
    }
}

.banner-card {
    position: relative;

    .banner-WH {
        width: 84vw !important;
        height: 63.6vw !important;
    }

    .am-carousel {
        @extend .banner-WH;
        margin: 7px 8vw 0;

        .slider-frame {
            @extend .banner-WH;

            .slider-slide {
                @extend .banner-WH;

                img {
                    @extend .banner-WH;
                }
            }
        }
    }

    .am-carousel-wrap {
        display: none;
    }

    .navigator {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        width: 90px;
        height: 20px;
        color: #fff;
        line-height: 20px;
        border-radius: 6px;
        background: rgba($color: #000000, $alpha: 0.4);

        .am-icon {
            flex: 0 0 20px;
        }

        p {
            flex: 1;
            text-align: center;
        }
    }
}


.full-banner {
    position: relative;

    .banner-WH {
        width: 100vw !important;
        height: 56vw !important;
    }

    .am-carousel {
        @extend .banner-WH;
        margin: 0;

        .slider-frame {
            @extend .banner-WH;

            .slider-slide {
                @extend .banner-WH;

                img {
                    @extend .banner-WH;
                }
            }
        }
    }

}

.my-nav {
    width: 100%;
    padding: 10px 0;

    li {
        float: left;
        width: 25%;
        height: 100px;
        padding-top: 10px;

        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 55px;
            height: 55px;
        }

        p {
            font-size: 12px;
            color: #888888;
            text-align: center;
            line-height: 35px;
        }
    }
}

.my-notice {
    display: flex;
    margin: 10px 4vw;
    width: 92vw;
    height: 55px;
    padding: 12px 10px;
    background: rgba($color: #FF7419, $alpha: .05);
    border-radius: 6px;

    .m-title {
        flex: 0 0 41px;
        width: 41px;
        height: 30px;
        padding-right: 10px;
        margin-right: 10px;
        line-height: 16px;
        font-size: 15px;
        border-right: 1px solid #F2CFB8;
        font-weight: 600;

        label {
            line-height: 15px;
            font-size: 15px;
            color: #FF7419;
        }
    }

    .am-carousel {
        flex: 1;

        .v-item {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            font-size: 14px;
            color: #333333;
        }
    }
}

.title-bar {
    display: flex;
    width: 100%;
    height: 55px;
    padding: 0 4vw;
    line-height: 55px;

    p {
        flex: 1;
        margin: 0;
        position: relative;
        font-size: 16px;
        color: #333333;
        padding-left: 8px;

        &::after{
            position: absolute;
            content: '';
            left: 0;
            top:50%;
            height: 30%;
            transform: translateY(-50%);
            border-left: 3px solid #00B9B9;
        }
       
    }

    a {
        @include border-arrow(#C4C4C4, 23px);
        flex: 0 0 80px;
        font-size: 12px;
        text-align: right;
        color: #C4C4C4;

    }
}


.ul-analysts {
    width: 92vw;
    margin-left: 4vw;

    li {
        display: flex;
        width: 100%;
        height: 95px;
        margin-bottom: 7px;
        padding: 14px 8px;
        border-radius: 6px;
        background: #fff;

        .index-with-icon {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            span {
                display: none;
            }
        }

        .index {
            flex: 0 0 20px;
            height: 17px;
            margin-top: 13.5px;
            line-height: 17px;

            span {
                display: inline-block;
                width: 100%;
                text-align: center;
                color: #979797;
            }
        }


        .avatar {
            flex: 0 0 44px;
            position: relative;
            width: 44px;
            height: 44px;
            margin-left: 10px;
            border-color: #C4C4C4;
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            i {
                display: block;
                position: absolute;
                right: -8px;
                bottom: -6px;
                width: 23px;
                height: 19px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

        .detail {
            flex: 1;
            padding-left: 10px;

            .name {

                p {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 15px;
                    color: #000000;
                }

                .nameplate {
                    position: relative;
                    display: inline-block;
                    width: 155px;
                    height: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    line-height: 30px;
                    transform: scale(0.5) translateX(-40%);

                    span {
                        display: inline-block;
                        text-align: center;
                        font-size: 20px;

                        &:nth-child(1) {
                            width: 90px;
                            color: #fff;
                        }

                        &:nth-child(2) {
                            width: 52px;
                        }
                    }

                }

                .nameplate-1 {
                    background-image: url('../image/home/bg-nameplate-1.png');

                    &:nth-child(2) {
                        color: #D94B51;
                    }
                }

                .nameplate-2 {
                    background-image: url('../image/home/bg-nameplate-2.png');

                    &:nth-child(2) {
                        color: #F2994A;
                    }
                }

                .nameplate-3 {
                    background-image: url('../image/home/bg-nameplate-3.png');

                    &:nth-child(2) {
                        color: #247ADC;
                    }
                }
            }

            .stat {
                font-size: 12px;
                line-height: 20px;
                color: #C4C4C4;

                span {
                    color: #009666;
                }
            }

            .slogan {
                @include multi-line(1);
                font-size: 12px;
                line-height: 20px;
                color: #666666;
            }
        }

        &:nth-child(1) {
            .mixed {
                @extend .index-with-icon;
                background-image: url("../image/home/icon-rank-1.png");
            }

            .avatar {
                border-color: #BE1512;

                i {
                    background-image: url('../image/home/icon-rank-badge-1.png');
                }
            }
        }

        &:nth-child(2) {
            .mixed {
                @extend .index-with-icon;
                background-image: url("../image/home/icon-rank-2.png");
            }

            .avatar {
                border-color: #CFD7E9;

                i {
                    background-image: url('../image/home/icon-rank-badge-2.png');
                }
            }
        }

        &:nth-child(3) {
            .mixed {
                @extend .index-with-icon;
                background-image: url("../image/home/icon-rank-3.png");
            }

            .avatar {
                border-color: #F7AF48;

                i {
                    background-image: url('../image/home/icon-rank-badge-3.png');
                }
            }
        }


        &:last-child {
            margin-bottom: 0;
        }
    }

}

.super-title {
    width: 100%;
    height: 24px;
    line-height: 24px;

    .arrow {
        position: absolute;
        top: 10px;
        box-sizing: border-box;
        width: 200px;
        height: 4px;
        border-top: 2px solid transparent;
        border-left: 100px solid transparent;
        border-bottom: 2px solid transparent;
        border-right: 100px solid #F7AF48;
        transform: scale(.5) translateX(50%);
        opacity: 0.5;
        content: '';

        &:after {
            position: absolute;
            right: -102px;
            top: -2px;
            width: 2px;
            height: 4px;
            border-radius: 0 2px 2px 0;
            background: #F7AF48;
            content: '';
        }
    }

    span {
        display: inline-block;
        position: relative;
        left: 50%;
        padding: 0 110px;
        transform: translateX(-50%);

        &::before {
            @extend .arrow;
            left: -100px;
        }

        &::after {
            @extend .arrow;
            right: -100px;
            transform: scale(.5) translateX(-50%) rotate(180deg);
        }

    }
}

.my-search-bar {
    .am-search {
        padding: 0 4vw;
        height: 52px;
        background: transparent;

        .am-search-input {
            height: 36px;

            .am-search-synthetic-ph {
                height: 36px;
                line-height: 36px;

            }

            input {
                height: 36px;
                line-height: 36px;
            }

            .am-search-clear {
                padding: 10.5px;
            }
        }


    }
}

.no-data {
    width: 100%;
    height: 140px;
    margin-top: 20vh;
    padding-top: 120px;
    background: url('../image/common/icon-no-data.png') center top no-repeat;
    background-size: 110px;
    font-size: 12px;
    text-align: center;
    color: #BDBCBC;
}


.analyst-detail-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .4);

    .analyst-detail {
        margin: 0 auto;
        position: relative;
        padding-top: 19px;
        background: url('../image/common/bg-analyst-detail-top.png') center top no-repeat;
        background-size: 100px;

        .inner {
            width: 280px;
            height: 300px;
            border-radius: 6px;
            background-color: #fff;
            background: #fff url('../image/common/bg-analyst-detail-right-top.png')right top no-repeat;
            background-size: 90px;

            .avatar {
                position: relative;
                left: 50%;
                width: 66px;
                height: 66px;
                border-color: #C4C4C4;
                border-width: 3px;
                border-style: solid;
                border-radius: 50%;
                transform: translate(-50%, -15px);

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }

                .nameplate {
                    position: absolute;
                    left: 50%;
                    width: 50px;
                    height: 15px;
                    border-radius: 7px;
                    font-size: 10px;
                    text-align: center;
                    line-height: 15px;
                    transform: translate(-50%, -8px);
                }

            }

            .avatar-1 {
                border-color: #D94B51;

                .nameplate {
                    background: #FAC0C3;
                    color: #D94B51;
                }
            }

            .avatar-2 {
                border-color: #F2994A;

                .nameplate {
                    background: #FCD8A4;
                    color: #F2994A;
                }
            }

            .avatar-3 {
                border-color: #247ADC;

                .nameplate {
                    background: #76B6F7;
                    color: #247ADC;
                }
            }

            .name {
                text-align: center;

                p {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 15px;
                    color: #000000;
                }

                .nameplate {
                    position: relative;
                    display: inline-block;
                    margin-left: 5px;
                    top: -3px;
                    width: 50px;
                    height: 13px;
                    padding-left: 14px;
                    border-radius: 7px;
                    font-size: 10px;
                    line-height: 13px;


                    &::before {
                        position: absolute;
                        left: -5px;
                        top: -3px;
                        width: 24px;
                        height: 20px;
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: '';
                    }

                }

                .nameplate-1 {
                    background: #FAC0C3;
                    color: #D94B51;

                    &::before {
                        background-image: url('../image/home/icon-rank-badge-1.png');
                    }
                }

                .nameplate-2 {
                    background: #FCD8A4;
                    color: #F2994A;

                    &::before {
                        background-image: url('../image/home/icon-rank-badge-2.png');
                    }
                }

                .nameplate-3 {
                    background: #76B6F7;
                    color: #247ADC;

                    &::before {
                        background-image: url('../image/home/icon-rank-badge-3.png');
                    }
                }
            }

            .number {
                margin-top: 10px;
                width: 100%;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                color: #C4C4C4;

                &::before {
                    content: "证书编号：";
                }
            }

            .slogan {
                margin-top: 30px;
                width: 100%;
                padding: 0 30px;
                font-size: 12px;
                line-height: 17px;
                text-align: center;
                color: #666666;
            }

            .stat {
                display: flex;
                width: 100%;
                margin-top: 40px;

                li {
                    flex: 1;
                    position: relative;

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 500;
                        text-align: center;
                        color: #666666;
                    }

                    label {
                        display: block;
                        margin-top: 10px;
                        font-size: 12px;
                        line-height: 20px;
                        text-align: center;
                        color: #AEB8C3;
                    }

                    &::after {
                        position: absolute;
                        width: 1px;
                        height: 120%;
                        top: -10%;
                        transform: scale(0.5);
                        background: #C4C4C4;
                        content: '';
                    }
                }
            }

            .close {
                position: absolute;
                bottom: -50px;
                left: 50%;
                width: 30px;
                height: 30px;
                background: url('../image/common/icon-close-round-white.png');
                background-size: contain;
                transform: translateX(-50%);
            }
        }
    }
}

.my-tabs {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff;

    li {
        flex: 1;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: #333333;
    }

    .active {
        color: $primary-color;
    }

    .border-btm {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: $primary-color;
        transition: left 0.3s;
    }

    //底部带线条，不会滑动
    // .active {
    //     position: relative;
    //     color: $primary-color;

    //     &::after {
    //         position: absolute;
    //         left: 0;
    //         bottom: 0;
    //         width: 100%;
    //         height: 1px;
    //         background: $primary-color;
    //         content: "";
    //     }
    // }
}