@import "color";
@import "mixin";

.home-page {

    .ul-analysis-flat {
        width: 92vw;
        margin-left: 4vw;

        li {
            width: 92vw;
            height: 26.6vw;
            margin-bottom: 7px;
            padding-top: px2vw(16px);
            background-repeat: no-repeat;
            background-size: cover;

            .label {
                margin-left: px2vw(22px);
                font-size: px2vw(16px);
                color: #fff;
            }

            .intro {
                margin-top: px2vw(8px);
                margin-left: px2vw(22px);
                font-size: px2vw(12px);
                color: #fff;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .bg-1 {
            background-image: url('../image/home/anslysis-flat-1.png');
        }

        .bg-2 {
            background-image: url('../image/home/anslysis-flat-2.png');
        }

        .bg-3 {
            background-image: url('../image/home/anslysis-flat-3.png');
        }

        .bg-4 {
            background-image: url('../image/home/anslysis-flat-4.png');
        }

    }

    .ul-analysis-grid {
        width: 92vw;
        margin-left: 4vw;

        li {
            float: left;
            width: 45vw;
            height: 26.7vw;
            margin-right: 2vw;
            margin-bottom: 2vw;
            padding-top: px2vw(16px);
            background-repeat: no-repeat;
            background-size: cover;

            .label {
                margin-left: px2vw(12px);
                font-size: px2vw(16px);
                color: #fff;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

            &:last-child() {
                margin-bottom: 0;
            }


        }

        .li-no-btm {
            margin-bottom: 0;
        }

        .bg-1 {
            background-image: url('../image/home/anslysis-grid-1.png');
        }

        .bg-2 {
            background-image: url('../image/home/anslysis-grid-2.png');
        }

        .bg-3 {
            background-image: url('../image/home/anslysis-grid-3.png');
        }

        .bg-4 {
            background-image: url('../image/home/anslysis-grid-4.png');
        }

    }

}